body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}
.material-icons {
    color: #356BA0;
}
.offersContainer {
    display: flex;
    margin: 0.5% 15%;
    position: sticky;
}
.offers {
    margin: 0 1%;
    font-size: 0.8em;
    position: relative;
    top: 5px;
    right: 35px;
}
.offers:hover {
    color: rgb(207, 154, 18);
    cursor: pointer;
}
.explore {
    background-color: #356BA0;
    color: white;
    border-radius: 25px;
    border: none;
}
.explore:hover {
    background-color: #6a91bb;
    cursor: pointer;
}
.menu {
    position: sticky;
    top: 0;
    background-color: white;
    border: 2px solid lightgray;
    display: grid;
    padding: 0 5%;
    grid-template-columns: 15% 10% 10% 15% 5% 15% 10% 5% 15%;
}
.main_logo {
    height: 5vh;
}
.menu > a {
    letter-spacing: 1px;
    border-right: 2px solid lightgray;
    margin: 0;
    padding: 3% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(99, 99, 99);
    font-size: 0.9em;
    font-weight: 500;
}
.menu > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a:hover {
    background-color: rgb(236, 236, 236);
}
.search_bar {
    position: absolute;
    top: 4.7vh;
    left: 22.6vw;
    display: none;
}
.search_bar > input {
    font-size: 1.4em;
    padding: 2.7%;
    width: 30vw;
    border: 2px solid darkblue;
}
.search_icon {
    position: absolute;
    top: 0.1vw;
    left: 18.1em;
    padding: 3%;
}
.search_icon:hover {
    cursor: pointer;
}
.menu > div > select:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}
.menu > a:nth-child(1):hover {
    background: none;
}
.menu > * > span,img {
    padding: 0 3%;
    color: #356BA0;
}
#products,
#collection,
#build_your_own,
#cart {
    display: none;
}
.nav_dropdowns {
    background-color: rgb(248, 248, 248);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.3% 0;
    border-bottom: 0.1px solid rgb(241, 241, 241);
}
.nav_dropdowns > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5vw;
    height: 10vh;
    padding: 1% 0.7%;
    margin: 0 0.5%;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    background-color: white;
}
.nav_dropdowns > div:hover {
    transform: scale(1.03);
}
.nav_dropdowns > div > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8em;
    text-align: center;
    color: #356BA0;
}
.nav_dropdowns > div > a > img{
    padding: 7% 0 10%;
}
.nav_dropdowns > div {
    cursor: pointer;
}
.nav_dropdowns_build_your_own {
    background-color: #fcfcfc;
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding: 2.3% 0;
    border-bottom: 0.1px solid rgb(241, 241, 241);
}
.nav_dropdowns_build_your_own > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
}
.nav_dropdowns_build_your_own > div:nth-child(1) {
    color: grey;
    width: 25%;
    letter-spacing: 1.5px;
    border-right: 1px solid gray;
}
.nav_dropdowns_build_your_own > div > img {
    width: 65%;
}
.nav_dropdowns_build_your_own > div > button {
    font-size: 1em;
    color: white;
    background-color: #356BA0;
    padding: 1% 3%;
    border: none;
    border-radius: 25px;
}
.nav_dropdowns_build_your_own > div > button:hover{
    background-color: #6a91bb;
    cursor: pointer;
}
#menu_cart:hover .show_cart {
    display: flex;
}
.show_cart {
    display: none;
    height: 27vh;
    width: 25vw;
    position: absolute;
    top: 7vh;
    left: 57%;
    border-top: 5px solid rgb(240, 180, 30);
    border-bottom: 5px solid goldenrod;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show_cart > img {
    width: 40%;
}
.show_cart > p {
    margin: 0;
    color: rgb(114, 113, 113);
}
.head {
    letter-spacing: 10px;
    text-align: center;
    font-size: 1.5em;
    color:rgb(99, 99, 99);
    padding: 2%;
    /* border-bottom: 2px solid lightgray; */
}
.filters {
    background-color: rgb(245, 245, 245);
    display: flex;
    padding: 0.5%;
    margin: 1% 5%;
}
.filters > div {
    background-color:white;
    color:#356BA0;
    border: 2px solid #356BA0;
    border-radius: 25px;
    padding: 0.3% 1%;
    margin: 0 0.5%;
}
.filters > div:nth-child(1) {
    background-color: #356BA0;
    color: white;
}
.filters > div:hover {
    cursor: pointer;
    background-color: #acd5ff;
}
.categories {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid lightgray;
    position: sticky;
    top: 7vh;
    background-color: white;
}
.categories > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    margin: 0 1%;
    border-bottom: 4px solid white;
}
.categories > div:nth-child(1) {
    border-bottom: 4px solid rgb(253, 191, 32);
}
.categories > div:hover {
    cursor: pointer;
}
.categories > div > img {
    height: 5vh;
}
.categories > div > * {
    margin: 1% 0;
    color: #356BA0;
    padding: 1% 0;
    font-size: 0.9em;
    text-decoration: none;
}
.categories a {
    text-align: center;
}
/* .login:hover .logout_dropdown {
    display: block;
} */
.logout_dropdown {
    position: absolute;
    width: 15vw;
    left: 67vw;
    top: 6.7vh;
    display: none;
    background-color: white;
    box-shadow: 1px 1px 15px lightgray;
}
.logout_dropdown > p {
    color: #356BA0;
    margin: 0;
    font-size: 1.2em;
    padding: 3% 10%;
}
.logout_dropdown > p:hover {
    color: white;
    background-color: #356BA0;
    cursor: pointer;
}
.location:hover {
    cursor: pointer;
}
.location:hover .location_selectable {
    display: block;
}
.location_selectable {
    display: none;
    position: absolute;
    top: 6.5vh;
    width: 13.5vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 20px lightgray;
}
.location_selectable > p {
    margin: 0;
    padding: 3% 30%;
    color: #356BA0;
    font-size: 1.1em;
}
.location_selectable > p:hover {
    background-color: #356BA0;
    color: white;
    cursor: pointer;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* login popup */
.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0 ,0 , 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0 ,opacity 0.5s;
}
.modal{
    background-color: white;
    width: 26%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
    border-radius: 5px;
    padding: 2%;
    font-size: 1.2em;
    color: gray;
    font-weight: 100;
}
.modal > input {
    width: 20vw;
    font-size: 1em;
    margin: 2% !important;
}
.modal-active{
    visibility: visible;
    opacity: 1;
}
.close-btn{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 7.2vw ;
    right: 34vw;
    border: none;
    border-radius: 50%;
}
.close-btn {
    cursor: pointer;
}
.close-btn:focus{
    outline: none;
    border: none;
}
.login_modal{
    width: 100px;
    border: 1px solid lightgray;
    padding: 5px;
    background-color: #346aa0;
    color: #f8f8f8;
    border-radius: 25px;
}
.login_modal:hover {
    background-color: #5a91c7;
    color: #f8f8f8;
    cursor: pointer;
}
.signup{
    border: 1px solid #346aa0;
    padding: 1% 3%;
    color: #356BA0;
    border-radius: 25px;
}
.signup:hover {
    background-color: #356BA0;
    color: white;
    cursor: pointer;
}
.login_modal:focus{
    outline: none;
    border: none;
}
.login-input{
    padding:5px 15px;
    width: 10vw;
    border: 1px solid lightgray;
}
.login-input:focus{
    outline: none;
}
.logo{
    position: relative;
    right: 2.8em;
    width: 3vw;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px gray;
}
.login_modal_social {
    display: flex;
}
.login_modal_social > img {
    padding: 4%;
    margin: 0 20%;
}
#menu_cart{
    position: relative;
}
.num_cart{
    position:absolute;
    top: 0;
    right:20%;
    color: white;
    padding: 2px 3px ;
    background-color: #346aa0;
    border-radius: 50%;
    font-size: 10px;
}
.btn_nav{
    background: none;
    border:none;
}
.btn_nav:focus{
    border: none;
    outline: none;
}
.btn_nav a{
    color: #346aa0;
}

/* ///////////////////////////////////////////STYLE-FOOTER//////////////////////////////////////////////////////////// */
.footer_1 {
    background-color: #F5F6FA;
}
.footer_1_1 {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgb(177, 177, 177);
    padding: 3% 0;
    /* border:1px solid red; */
    margin: 0 5%;
}
.footer_1_1 > * {
    color: rgb(85, 85, 85);
    padding: 0 1.5%;
    font-size: 1.1em;
}
.footer_1_1 > a:nth-child(3) {
    border-left: 3px solid gray;
}
.footer_1_1 > .border {
    border-right: 3px solid gray;
}
.footer_1_1 > *:hover {
    color: black;
}
.footer_1_1 > img {
    width: 4vw;
}
.footer_1_2 {
    display: grid;
    grid-template-columns: 30% 20% 25% 25%;              
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 3% 0;
    /* border:1px solid red; */
    margin: 0 5%;
    font-size: 0.90em;
}
.footer_1_2 > div {
    padding: 0 10%;
}
.footer_1_2 > .footer_1_2_div:nth-child(2),
.footer_1_2_div:nth-child(3) {
    border-left: 1px solid gray;
}
.footer_1_2 > div:nth-child(3) {
    border-right: 1px solid gray;
}
.footer_1_2 > div > * {
    color: rgb(85, 85, 85);
    padding: 0 1.5%;
    font-size: 1.1em;
    /* margin: 0; */
}
.footer_1_2 > div:nth-child(1) > a {
    color: #356BA0;
    padding-left: 0;
    position: relative;
    left: -0.3vw;
    /* border: 1px solid gray; */
}
.footer_1_2 > div:nth-child(1) > a:hover {
    color: black;
    cursor: default;
}
.footer_1_2 > div:nth-child(1) > a > img {
    position: relative;
    top: 0.3em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0;
}
.footer_1_2 > div:nth-child(1) > a > img:hover {
    border: 1px solid #356BA0;
}
.footer_1_2 > div:nth-child(3) > img {
    width: 7em;
    filter: brightness(90%);
}
.footer_1_2 > div:nth-child(3) > img:hover {
    filter: brightness(150%);
    cursor: pointer;
}
.footer_1_2 > div:nth-child(4) > img {
    padding: 0;
    border: 5px double white;
    border-radius: 50%;
}

.footer_1_2 > div:nth-child(4) > img:hover {
    border: 5px double #556BA0;
    cursor: pointer;
}

.footer_1_2 > div > button {
    border: 2px solid #356BA0;
    color: rgb(73, 73, 73);
    font-size: 1em;
    padding: 0 1.5%;
    border-radius: 25px;
}
.footer_1_2 > div > button:hover {
    color: white;
    background-color: #356BA0;
    cursor: pointer;
}
.footer_info {
    padding: 1% 5%;
    font-size: 1.01em;
    letter-spacing: 0.07em;
    line-height: 2.7vh;
    border-bottom: 1px solid lightgray;
}
.footer_info > h3 {
    font-weight: 500;
    color: black;
}
.footer_info > p {
    color: rgb(80, 80, 80);
}

.footer_img_copyright {
    background-color: #F5F6FA;
    padding: 1% 0;
}
.footer_img_copyright > div > img {
    width: 90%;
    justify-content: center;
}
.footer_img_copyright > div {
    text-align: center;
    color: rgb(133, 133, 133);
    padding: 0.5%;
}

.left {
    width: 63%;
    /* border: 1px solid black; */
    height: 1200px;
    float: left;
    padding: 10px
}

.right {
    position: fixed;
    top: 7em;
    left: 930px;
    width: 30%;
    /* border: 1px solid black; */
    height: 700px;
    padding: 10px;
    margin-top: 10px;
    float: left;
    margin-left: 50px;
    text-align: center;
    background-color: #FCFCFE;
    z-index: -1;
}

.off_rent_img, .off_time > img {
    width: 100%;
    height: 500px;
}

.price_details {
    /* border: 1px solid; */
    margin-top: -90px;
}

#display_price {
    margin-top: 80px;
    animation: mymove 1s infinite
}

.off_rent {
    height: 60px;
    /* border: 1px solid black; */
}

.off_rent img {
    width: 20px;
    height: 20px;
}

.off_time {
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    margin-left: 75px;
    color: grey;
    margin-top: -50px;
    font-size: 14px;
}

#demo {
    margin-top: -1px;
}

.off_time img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    width: 15px;
}

.delivery_Desc {
    margin-top: 100px;
    color: #999999;
}

.KYC_desc {
    font-size: 12px;
    text-align: left;
    line-height: 23px;
    /* border:1px solid; */
    margin-top: 55px;
}

.save_more {
    padding: 10px;
    margin-left: 30px;
    margin-top: -40px;
}

#foot_price {
    padding: 10px;
    margin-left: 70px
}

span {
    color: black;
}

.btn_add_cart button {
    width: 300px;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    background-color: #346AA0;
    text-align: center;
    font-size: 16px;
    border: #346AA0;
    border-radius: 25px;
    cursor: grabbing;
}

#select_btn {
    background: transparent;
    color: #346AA0;

    border: 1px solid #346AA0;
}

/* a {
    text-decoration: none;
    color: #346AA0;
    font-size: 12px;
    font-weight: 200A;
} */

.off_rent {
    margin-top: 10px;
}

.off_rent_img {
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
}

.off_rent_desc {
    font-size: 12px;
    color: #333333;
    margin-left: 46px;
    margin-top: -40px;
    width: 300px;
    line-height: 30px;
}

#save_more_img {
    width: 20px;
    height: 15px;
    margin-left: 50px;
    position: relative;
    top: -80px;
    right: -300px;
    /* border: 1px solid black; */
}


#tooltip_div {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* border: 1px solid black; */
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 250px;
    right: 10px;
}

.left > div > img {
    width: 100%;
}

.KYC_desc:hover #tooltip_div {
    visibility: visible;
}

#div_btm_brdr {
    width: 250px;
}


@keyframes mymove {
    50% {
        transform: rotate(10deg);
    }
}

.package_content_img {
    /* border: 1px solid black; */
    margin-top: -300px;
}

.package_content_img img {
    width: 120px;
    height: 120px;
    border: 1px solid rgb(238, 233, 233);
    margin-left: 10px;
    margin-right: 20px;

}

/* .package_calendar {
    border:1px solid black;
    margin-top: -100px;
} */

#right_cond {
    width: 800px;
    margin-left: 30px;
    text-align: left;
    font-size: 14px;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

.mint_cond button {
    width: 250px;
    height: 40px;
    border-top-right-radius: 155px;
    border-bottom-right-radius: 155px;
    border: none;
    background-color: #fdb34A;
    color: White;
    font-size: 20px;
}

.package_include {
    margin-top: 300px;
    /* border: 1px solid black; */
}

.btnbasic {
    width: 100px;
    height: 50px;
    background: #346AA0;
    color: White;
    margin-left: 5px;
    font-size: 20px;
    border: none;
}

.lpack {
    width: 20%;
    /* border: 1px solid black; */
    float: left;
    margin-right: 20px;
  
    
}
.lpack img{
    width: 200px;
    height: 200px;
}

.rpack {
    width: 60%;
    /* border: 1px solid black; */
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}
.cart_add_image{
    width:100%;
    height: 20px;
}
.cart{
    display: grid;
    grid-template-columns: 50% 50%;
}