body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}
.material-icons {
    color: #356BA0;
}
.offersContainer {
    display: flex;
    margin: 0.5% 15%;
    position: sticky;
}
.offers {
    margin: 0 1%;
    font-size: 0.8em;
    position: relative;
    top: 5px;
    right: 35px;
}
.offers:hover {
    color: rgb(207, 154, 18);
    cursor: pointer;
}
.explore {
    background-color: #356BA0;
    color: white;
    border-radius: 25px;
    border: none;
}
.explore:hover {
    background-color: #6a91bb;
    cursor: pointer;
}
.menu {
    position: sticky;
    background-color: white;
    top: 0;
    border: 2px solid lightgray;
    display: grid;
    padding: 0 5%;
    grid-template-columns: 15% 10% 5% 15% 5% 15% 15% 5% 15%;
}
.main_logo {
    height: 5vh;
}
.menu > a {
    letter-spacing: 1px;
    border-right: 2px solid lightgray;
    margin: 0;
    padding: 3% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(99, 99, 99);
    font-size: 0.9em;
    font-weight: 500;
}
.menu > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a:hover {
    background-color: rgb(236, 236, 236);
}
.search_bar {
    position: absolute;
    top: 4.7vh;
    left: 22.6vw;
    display: none;
}
.search_bar > input {
    font-size: 1.4em;
    padding: 2.7%;
    width: 30vw;
    border: 2px solid darkblue;
}
.search_icon {
    position: absolute;
    top: 0.1vw;
    left: 18.1em;
    padding: 3%;
}
.search_icon:hover {
    cursor: pointer;
}
.menu > a:nth-child(1):hover {
    background: none;
}
.menu > * > span,img {
    padding: 0 3%;
    color: #356BA0;
}
.borderless {
    border: none !important;
}
.borderless:hover {
    background-color: transparent !important;
    cursor: default;
}
.rightBorder {
    border-right: 2px solid lightgray !important;
}
#menu_cart:hover .show_cart {
    display: flex;
}
.show_cart {
    display: none;
    height: 27vh;
    width: 25vw;
    position: absolute;
    top: 7vh;
    left: 57%;
    border-top: 5px solid rgb(240, 180, 30);
    border-bottom: 5px solid goldenrod;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.show_cart > img {
    width: 40%;
}
.show_cart > p {
    margin: 0;
    color: rgb(114, 113, 113);
}
.search_block {
    height: 60vh;
}
.search_block > img {
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 60vh;
    z-index: -1;
}
.search_text {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;
    right: 8vw;
    align-items: center;
}
.search_text > img {
    width: 10%;
    position: relative;
    right: 4vw;
}
.search_text > p {
    position: relative;
    right: 2vw;
}
.search_block > div {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.search_block > div > #search {
    font-size: 1em;
    width: 30vw;
    padding: 1.3%;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 20vh;
}
.search_icon_block {
    position: relative;
    right: 50px;
    top: 20vh;
    appearance: none;
    background: transparent;
    border: none;
    z-index: -1;
}
.search_icon_block:hover {
    cursor: pointer ;
}
.menu_down_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.menu_down_container > p {
    color: rgb(85, 85, 85);
    padding: 1% 3%;
    margin: 0;
    border-right: 1px solid lightgray;
    border-bottom: 3px solid white;
}
.menu_down_container > p:nth-child(1) {
    border-left: 1px solid lightgray;
    border-bottom: 3px solid goldenrod;
}
.menu_down_container > p:hover {
    cursor: pointer;
}
.categories {
    background-color: rgb(248, 248, 248);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.3% 0;
    border-bottom: 0.1px solid rgb(241, 241, 241);
}
.categories > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5vw;
    height: 10vh;
    padding: 1% 0.7%;
    margin: 0 0.5%;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
    background-color: white;
}
.categories > div:hover {
    transform: scale(1.1);
}
.categories > div > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8em;
    text-align: center;
    color: #356BA0;
}
.categories > div > a > img{
    padding: 7% 0 10%;
}
.categories > div {
    cursor: pointer;
}
.categories_build {
    background-color: #fcfcfc;
    position: absolute;
    width: 100%;
    height: 10vh;
    display: none;
    justify-content: center;
    padding: 2.3% 0;
    border-bottom: 0.1px solid rgb(241, 241, 241);
}
.categories_build > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 3%;
}
.categories_build > div:nth-child(1) {
    color: grey;
    width: 25%;
    letter-spacing: 1.5px;
    border-right: 1px solid gray;
}
.categories_build > div > img {
    width: 65%;
}
.categories_build > div > button {
    font-size: 1em;
    color: white;
    background-color: #356BA0;
    padding: 1% 3%;
    border: none;
    border-radius: 25px;
}
.categories_build > div > button:hover{
    background-color: #6a91bb;
    cursor: pointer;
}
.location:hover {
    cursor: pointer;
}
.location:hover .location_selectable {
    display: block;
}
.location_selectable {
    display: none;
    position: absolute;
    top: 6.5vh;
    width: 13.5vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 20px lightgray;
}
.location_selectable > p {
    margin: 0;
    padding: 3% 30%;
    color: #356BA0;
    font-size: 1.1em;
}
.location_selectable > p:hover {
    background-color: #356BA0;
    color: white;
    cursor: pointer;
}
.login:hover .logout_dropdown {
    display: block;
}
.logout_dropdown {
    position: absolute;
    width: 15vw;
    left: 62.5vw;
    top: 6.7vh;
    display: none;
    background-color: white;
    box-shadow: 1px 1px 15px lightgray;
}
.logout_dropdown > p {
    color: #356BA0;
    margin: 0;
    font-size: 1.2em;
    padding: 3% 10%;
}
.logout_dropdown > p:hover {
    color: white;
    background-color: #356BA0;
    cursor: pointer;
}
/* //////////////////////////////////////////////STYLE//////////////////////////////////////////////////////////// */
/* homepage body */
.home-img-div{
    margin-top:9.6%;
    width: 80%;
    margin-left: 150px;
}
.home-img-div div{
    margin: 20px 0;
}
.home-img{
    width: 100%;
    border-radius: 15px;
}
.home-img-head{
    text-align: center;
}
.home-img2-div{
    text-align: center;
    margin: 0 auto;
    width: 90%;
}
.home-img2-head{
    font-size: 24px;
    margin: 25px 0;
    color: #444444;
    letter-spacing: 6px;
}
.home-divs{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 400px;
    grid-template-areas: "box1 box2 box3";
    grid-gap: 10%;
}

.home-divs img{
    width: 400px;
    height: 300px;
}
.box-title{
    color: #333333;
    letter-spacing: 2px;
    font-size: 24px;
}

.home-divs p {
    font-size: 20px;
    letter-spacing: 0.3px;
    color: #666666;
}

.explore-blue{
    color: #346aa0;
}
.home3, .home4{
    margin-top: 10%;
}
.home3-head ,.home4-head{
    letter-spacing: 6px;
    text-align: center;
    font-size: 24px;
    color: #2e2e2e;
}
.home3-content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    grid-template-areas: "home3-left home3-right";
}
.home4-content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    grid-template-areas: "home4-left home4-right";
}
.img-head{
    font-size: 24px;
    color: #2e2e2e;
}
.home3-left img,.home4-left img{
    width: 100%;
}
.home3-right,.home4-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explore-products{
    background-color: #346aa0;
    color: white;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.home4-head{
    letter-spacing: 6px;
    text-align: center;
    font-size: 24px;
    color: #2e2e2e;
}
.home5{
    background-color: #eff1f4;
}
.home5-head{
    letter-spacing: 6px;
    text-align: center;
    font-size: 24px;
    color: #333333;
    padding: 5%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 25%;
    margin-top: 15px;
    background-color: white;
}

/* login popup */
.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0 ,0 , 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0 ,opacity 0.5s;
}
.modal{
    background-color: white;
    width: 26%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
    border-radius: 5px;
    padding: 2%;
    font-size: 1.2em;
    color: gray;
    font-weight: 100;
}
.modal > input {
    width: 20vw;
    font-size: 1em;
    margin: 2% !important;
}
.modal-active{
    visibility: visible;
    opacity: 1;
}
.close-btn{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 7.2vw ;
    right: 34vw;
    border: none;
    border-radius: 50%;
}
.close-btn {
    cursor: pointer;
}
.close-btn:focus{
    outline: none;
    border: none;
}
.login_modal{
    width: 100px;
    border: 1px solid lightgray;
    padding: 5px;
    background-color: #346aa0;
    color: #f8f8f8;
    border-radius: 25px;
}
.login_modal:hover {
    background-color: #5a91c7;
    color: #f8f8f8;
    cursor: pointer;
}
.signup{
    border: 1px solid #346aa0;
    padding: 1% 3%;
    color: #356BA0;
    border-radius: 25px;
}
.signup:hover {
    background-color: #356BA0;
    color: white;
    cursor: pointer;
}
.login_modal:focus{
    outline: none;
    border: none;
}
.login-input{
    padding:5px 15px;
    width: 10vw;
    border: 1px solid lightgray;
}
.login-input:focus{
    outline: none;
}
.logo{
    position: relative;
    right: 2.8em;
    width: 3vw;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px gray;
}
.login_modal_social {
    display: flex;
}
.login_modal_social > img {
    padding: 4%;
    margin: 0 20%;
}

/* ///////////////////////////////////////////STYLE-FOOTER//////////////////////////////////////////////////////////// */
.footer_1 {
    background-color: #F5F6FA;
}
.footer_1_1 {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid rgb(177, 177, 177);
    padding: 3% 0;
    /* border:1px solid red; */
    margin: 0 5%;
}
.footer_1_1 > * {
    color: rgb(85, 85, 85);
    padding: 0 1.5%;
    font-size: 1.1em;
}
.footer_1_1 > a:nth-child(3) {
    border-left: 3px solid gray;
}
.footer_1_1 > .border {
    border-right: 3px solid gray;
}
.footer_1_1 > *:hover {
    color: black;
}
.footer_1_1 > img {
    width: 4vw;
}
.footer_1_2 {
    display: grid;
    grid-template-columns: 30% 20% 25% 25%;              
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 3% 0;
    /* border:1px solid red; */
    margin: 0 5%;
    font-size: 0.90em;
}
.footer_1_2 > div {
    padding: 0 10%;
}
.footer_1_2 > .footer_1_2_div:nth-child(2),
.footer_1_2_div:nth-child(3) {
    border-left: 1px solid gray;
}
.footer_1_2 > div:nth-child(3) {
    border-right: 1px solid gray;
}
.footer_1_2 > div > * {
    color: rgb(85, 85, 85);
    padding: 0 1.5%;
    font-size: 1.1em;
    /* margin: 0; */
}
.footer_1_2 > div:nth-child(1) > a {
    color: #356BA0;
    padding-left: 0;
    position: relative;
    left: -0.3vw;
    /* border: 1px solid gray; */
}
.footer_1_2 > div:nth-child(1) > a:hover {
    color: black;
    cursor: default;
}
.footer_1_2 > div:nth-child(1) > a > img {
    position: relative;
    top: 0.3em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0;
}
.footer_1_2 > div:nth-child(1) > a > img:hover {
    border: 1px solid #356BA0;
}
.footer_1_2 > div:nth-child(3) > img {
    width: 7em;
    filter: brightness(90%);
}
.footer_1_2 > div:nth-child(3) > img:hover {
    filter: brightness(150%);
    cursor: pointer;
}
.footer_1_2 > div:nth-child(4) > img {
    padding: 0;
    border: 5px double white;
    border-radius: 50%;
}

.footer_1_2 > div:nth-child(4) > img:hover {
    border: 5px double #556BA0;
    cursor: pointer;
}

.footer_1_2 > div > button {
    border: 2px solid #356BA0;
    color: rgb(73, 73, 73);
    font-size: 1em;
    padding: 0 1.5%;
    border-radius: 25px;
}
.footer_1_2 > div > button:hover {
    color: white;
    background-color: #356BA0;
    cursor: pointer;
}
.footer_info {
    padding: 1% 5%;
    font-size: 1.01em;
    letter-spacing: 0.07em;
    line-height: 2.7vh;
    border-bottom: 1px solid lightgray;
}
.footer_info > h3 {
    font-weight: 500;
    color: black;
}
.footer_info > p {
    color: rgb(80, 80, 80);
}

.footer_img_copyright {
    background-color: #F5F6FA;
    padding: 1% 0;
}
.footer_img_copyright > div > img {
    width: 90%;
    justify-content: center;
}
.footer_img_copyright > div {
    text-align: center;
    color: rgb(133, 133, 133);
    padding: 0.5%;
}
